{% extends "base.html" %}
{% block content %}
    <div class="container">
    <div style="max-width:600px" class="container">
        <form id="update-form" name="update-form" class="form-group" action="/update/{{ piece.id }}" method="post" >
            <div class="form-group row">
                <label class="col-sm-2" for="title">Title</label>
                <input type="text" class="form-control col-sm-10" id="title" name="title"
                       placeholder="Title" value="{{ piece.title }}">
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="title">Composer</label>
                <input type="text"  class="form-control col-sm-10"  id="composer" name="composer"
                       placeholder="Composer" value="{{ piece.composer }}">
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="instrument">Instrument</label>
                <input type="text"  class="form-control col-sm-10"  id="instrument" name="instrument"
                       placeholder="Instrument" value="{{ piece.instrument }}">
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="recording">Recording</label>
                <input type="text"  class="form-control col-sm-10"  id="recording" name="recording"
                       placeholder="Recording" value="{{ piece.recording }}">
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="difficulty">Difficulty</label>
                <input type="difficulty"  class="form-control col-sm-10"  id="difficulty" name="difficulty"
                       placeholder="Difficulty" value="{{ piece.difficulty }}">
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="sheet">Sheet Music</label>
                <input type="text"  class="form-control col-sm-10"  id="sheet" name="sheet"
                       placeholder="Sheet Music" value="{{ piece.sheet }}">
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="genre">Genre</label>
                <input type="text"  class="form-control col-sm-10" id="genre" name="genre"
                       placeholder="Genre" value="{{ piece.genre }}">
            </div>
            <div class="form-group row">
                <label class="col-sm-2" for="comment">Comment</label>
                <input type="text"  class="form-control col-sm-10"  id="comment" name="comment"
                       placeholder="Comment" value="{{ piece.comment }}">
            </div>
            <input type="hidden" name="id" value="{{ piece.id }}">
            <button type="submit" class="btn btn-primary mb-2">Update</button>
            <button type="submit" formaction="/delete/{{ piece.id }}" method='post' class="btn mb-2">Delete</button>
        </form>

{#    </div>#}
{#        <h1>{{ piece.title }}</h1>#}
{#        <h3>Composer: {{ piece.composer }}</h3>#}
{#        <h3>Instrument: {{ piece.instrument }}</h3>#}
{#        <h3>Recording: {{ piece.recording }}</h3>#}
{#        <h3>Difficulty: {{ piece.difficulty }}</h3>#}
{#        <h3>Genre: {{ piece.difficulty }}</h3>#}
{#        <h3>Sheet Music: {{ piece.sheet }}</h3>#}
{#        <h3>Comment: {{ piece.comment }}</h3>#}
{#        <button form="blank" formaction="/delete/{{ piece.id }}">Delete</button>#}
{#    </div>#}
{% endblock %}