{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Good Teaching Music </h1> <h3>{{ pieces|length() }} Pieces</h3>
        <div name="filterbox" style="max-width: 600px">
            <form class="form-inline" id="filter-form" method='post' action="/">
                <div class="form-group">
                    <label for="composer" class="col-form-label" style=" padding-right: 20px">Composer</label>
                    {% if composer %}
                        <input class="form-control col" type="text" style="padding-right: 20px" id="composer"
                               value={{ composer }} name="composer">
                    {% else %}
                        <input style="padding-right: 20px" class="col form-control" type="text"
                               style="padding-right: 20px" id="composer" value="" name="composer">
                    {% endif %}

                    <label for="instrument" style="padding-left:20px; padding-right: 20px" class="col-form-label">Instrument</label>
                    {% if instrument %}
                        <input style="padding-left:20px; padding-right: 20px" class="form-control col" type="text"
                               id="instrument" value={{ instrument }} name="instrument">
                    {% else %}
                        <input style="padding-left:20px; padding-right: 20px" class="col form-control" type="text"
                               id="instrument" value="" name="instrument">
                    {% endif %}

                    <label for="genre" style="padding-left:20px; padding-right: 20px" class="col-form-label">Genre</label>
                    {% if genre %}
                        <input style="padding-left:20px; padding-right: 20px" class="form-control col" type="text"
                               id="genre" value={{ genre }} name="genre">
                    {% else %}
                        <input style="padding-left:20px; padding-right: 20px" class="col form-control" type="text"
                               id="genre" value="" name="genre">
                    {% endif %}


                </div>
                <div class="form-group">
                    <label for="difficulty" style="padding-left:20px; padding-right: 20px" class="col-form-label">Difficulty</label>
                    {% if difficulty %}
                        <input style="padding-left:20px; padding-right: 20px" class="form-control col" type="text"
                               id="difficulty" value={{ difficulty }} name="difficulty">
                    {% else %}
                        <input style="padding-left:20px; padding-right: 20px" class="col form-control" type="text"
                               id="difficulty" value="" name="difficulty">
                    {% endif %}

                    <button style="margin-left: 20px" type="submit" class="col btn btn-primary" id="submit-button">
                        Submit
                    </button>
                </div>
            </form>
        </div>
        <div class="box">
            <a name="sort_by_title" href="/?sort_by_title">Sort by Title</a> -
            <a name="sort_by_composer" href="/?sort_by_composer">Sort by Composer</a> -
            <a name="reset" href="/">Reset</a>
        </div>

    <form id="blank" method="post"></form>
        <ul class="list-group">
            {% for piece in pieces %}
                <li  class="list-group-item">
                    <p>
                     {{ piece['composer'] }} - {{ piece['title'] }} - {{ piece['difficulty'] }}
                        - {{ piece['genre'] }} - <a href="{{ piece['recording'] }}">Recording</a> - <a href="/details/{{ piece['id'] }}">Details</a></p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}